@using Тестовое_задание.Models
@using Тестовое_задание.Helpers
@model ReportPageViewModel
@{
    ViewBag.Title = "Report";
}

<h2>Отчет по продажам</h2>

<p>Отчетный период: @Model.ReportingPeriod.StartDate.Value.ToShortDateString()г. - @Model.ReportingPeriod.EndDate.Value.ToShortDateString()г.</p>

<hr/>
@using (Html.BeginForm("Report", "Home", FormMethod.Post, new { @class = "form-inline" }))
{
    <input type="hidden" value="@Model.ReportingPeriod.StartDate" name="startDate" />
    <input type="hidden" value="@Model.ReportingPeriod.EndDate" name="endDate" />
    <input type="hidden" value="@Model.PageInfo.PageSize" name="pageSize" />
    <input type="hidden" value="@Model.PageInfo.PageNumber" name="pageNumber" />
    <input type="hidden" value="@Model.PageInfo.TotalItems" name="totalItems" />
    <input type="hidden" value="@Model.PageInfo.TotalPages" name="totalPages" />

    <div class="form-group">
        <label for="inputEmail">Отправить отчёт </label>
        <input type="email" class="form-control" id="inputEmail" name="inputEmail" placeholder="Email" required="required">
    </div>
    <button type="submit" class="btn btn-default">Отправить</button>
    <br/>
    <div @if (ViewBag.ResultSending.Key == "success")
         {
             @:class="alert alert-success"
         }
         else
         {
             if (ViewBag.ResultSending.Key == "error")
             {
                 @:class="alert alert-danger"
             }
             else
             {
                 @:style="display: none;"
             }
         } role="alert" style="margin-top: 20px; margin-bottom: 0px !important;">@ViewBag.ResultSending.Value</div>
}
<br />

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().OrderId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().OrderDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().UnitPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderItems.FirstOrDefault().Quantity)
        </th>
        <th>
            @Html.DisplayName("Сумма")
        </th>
    </tr>
    @foreach (var item in Model.OrderItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)    
            </td>
            <td>
                @Html.DisplayFor(model => item.OrderDate)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductId)
            </td>
            <td>
                @Html.DisplayFor(model => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(model => item.UnitPrice)
            </td>
            <td>
                @Html.DisplayFor(model => item.Quantity)
            </td>
            <td>
                @{ var sum = (item.Quantity * item.UnitPrice).ToString("N"); }          
                @sum
            </td>
        </tr>
    }
</table>
<br /> 
@if (Model.PageInfo.TotalPages > 1)
{
    <p style="text-align: center">Страница @(Model.PageInfo.PageNumber) из @Model.PageInfo.TotalPages</p>
    @Html.PageLinks(Model.PageInfo, x => Url.Action("Report", new
    {
        startDate = Model.ReportingPeriod.StartDate.Value,
        endDate = Model.ReportingPeriod.EndDate.Value,
        pageSize = Model.PageInfo.PageSize,
        totalItems = Model.PageInfo.TotalItems,
        totalPages = Model.PageInfo.TotalPages,
        page = x
    }))
}
